<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Veriricador de Preços de Combustivel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-input label="Preço Alcool" 
      type="number"
      placeholder="Digite o preço do Alcool"
      labelPlacement="floating" #al>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Preço Gasolina" 
      type="number"
      placeholder="Digite o preço da Gasolina"
      labelPlacement="floating" #gs>
      </ion-input>
    </ion-item>
    <ion-button (click)="calcular(al, gs)" color="danger">Calcular</ion-button>
    <div [hidden]="resultado  === undefined">
    <ion-item lines="none" [color]="cor">
      <ion-label class="ion-text-center">
       RESULTADO = {{resultado}} {{mensagem}}
      </ion-label>
    </ion-item>
  </div>
    <ion-item>
      <ion-button (click)="limpar(al, gs)" color="success">limpar</ion-button>
    </ion-item>
  
  </div>
</ion-content>
